{% extends 'layout.html' %}
{% block title %} Admin {% endblock %}
{% block style %} 
<style>
body{
    background-image:url('http://wallpaper.pickywallpapers.com/2560x1440/birds-silhouettes-on-a-cyan-sky.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}    
input{
        background-color:transparent;
    }
table{
    background-color:rgba(0,0,0,0.7);
    color:#efefef;
}
.control-label{
    color:white;
    font-size:15px;
}
img{
    width:120px;
    height:130px;
}
    
     @media only screen and (max-width : 1024px) {
            form{
                margin:0% 0%;
                padding:1%;
            }
        } 
</style>
{% endblock %}
{% block main %}
    
    {% for row in rows %}
    <div class="toggle">
        <table class='table table-responsive table-condensed'>
            <form method="post" action="{{url_for('admin')}}">
                <input type="hidden" name="q_id" value="{{row.id}}">
                <input type="hidden" name="name" value="{{row.name}}">
                <input type="hidden" name="type" value="{{row.type}}">
                <input type="hidden" name="male_image" value="{{row.male_image}}">
                <input type="hidden" name="female_image" value="{{row.female_image}}">
                <input type="hidden" name="lat" value="{{row.lat}}">
                <input type="hidden" name="long" value="{{row.long}}">
                <input type="hidden" name="id" value="{{id}}">
                <input type="hidden" name="user" value="{{row.userId}}">
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Male_image</th>
                <th>Female_image</th>
                <th>Lat</th>
                <th>Lon</th>
                <th>Id</th>
                <th>Catagory</th>
                <th>Submit</th>
            </tr>
            <tr>
               <td class="h4">{{row.type}}</td>
               {% if row.male_image %}
                   <td class="h4">{{row.name}}</td>
                   <td><img src="{{row.male_image}}"/></td>
                   <td><img src="{{row.female_image}}"/></td>
                {% else %}
                    <td class="h4"><input type="text" value="{{row.name}}" name="name"></td>
                    <td><input type="text" name="m_image"></td>
                    <td><input type="text" name="f_image"></td>
                {% endif %}
               <td class="h4">{{row.lat}}</td>
               <td class="h4">{{row.long}}</td>
               <td class="h4">{{row.userId}}</td>
               <td class="h4">
                   <select style="color:black;" name="catagory">
                       <option value="eagleType">eagleType</option>
                       <option value="landBirds">landBirds</option>
                       <option value="owl">owl type</option>
                       <option value="parakeet">parakeets</option>
                       <option value="penguin">penguin Type</option>
                       <option value="perchingBirds">perchingBirds/Small Birds</option>
                       <option value="waterBird">waterBird</option>
                   </select>
               </td>
                {% if row.type == "add" %}
                    <td class="h4"><input type="submit" name="btn" class="btn btn-primary" value="Add To Database"/></td>
                {% else %}
                    <td class="h4"><input type="submit" name="btn" class="btn btn-success" value="Add TO Tracker"></td>
                {% endif %}
            </tr>
            <tr>
                 <td colspan="{% if row.type == 'add'%}7{%else%} 8 {% endif %}" class='h4'><input type="submit" class="btn btn-info" name="btn" value="Calculate the Place"></td>
                 <td colspan="{% if row.type == 'add'%}7{%else%} 8 {% endif %}" class='h4'><input type="submit" class="btn btn-danger" name="btn" value="Delete Request"></td>
            </tr>
            
            {% if results %}
             <tr>
                <td class="h3">Street Name:</td>
                <td class="h4">{{results.route}}</td>
            </tr>
            <tr>
                <td class="h3">City:</td>
                <td class="h4">{{results.city}}</td>
            </tr>
             <tr>
                <td class="h3">Head Quarter:</td>
                <td class="h4">{{results.administrative_area_level_1}}</td>
            </tr>
            <tr>
                <td class="h3">Country:</td>
                <td class="h4">{{results.country}}</td>
            </tr>
            {% endif %}
            </form>
        </table>
        <br><br><br><br><br><br>
    </div>
    {% endfor %}
    
    <script>
        function toggle(){
            $( ".toggle" ).slideToggle("slow");
        }
    </script>
{% endblock %}