{% extends "layout.html" %}

{% block title %} Forgot Password {% endblock %}

{% block style %}
<style>
    body{
        background-image:url('https://s2.favim.com/orig/140703/art-background-backgrounds-bird-Favim.com-1885492.jpg');
    }
    input{
        background-color:transparent;
    }
    form{
        background-color:rgba(0,0,0,0.8);
        margin:5% 30%;
        padding:25px;
        border-radius:10px;
    }
    .control-label{
        color:white;
        font-size:15px;
    }
</style>
{% endblock %}

{% block main %}
    <div class="text-center">
        <form class="form" action="{{url_for('forgot')}}" method="post" role="form" data-toggle="validator">
            <div class="form-group">
            <label for="inputEmail" class="control-label">Type your Email Id</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email" data-error="Bruh, that email address is invalid" required name="email">
            <div class="help-block with-errors"></div>
          </div>
            <div class="form-group">
                <label for="question" class="control-label">What was the security Question</label>
                <div class="form-inline row">
                    <div class="form-group col-sm-6">
                        <select class="form-control" id="question" required>
                            <option>What is your favorite bird?</option>
                            <option>What is your favorite team?</option>
                            <option>What is your favorite movie?</option>
                            <option>What is your favorite book?</option>
                            <option>Who is your favorite sports star?</option>
                            <option>Who is your favorite movie star?</option>
                            <option>What is your favorite song?</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <input type="text" class="form-control" placeholder="Write Your Answer Here" required name="ans"> 
                    </div>
                </div>
          </div>
          <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Change</button>
      </div>
        </form>
    </div>
{% endblock %}