{% extends "layout.html" %}

{% block title %} Registration {% endblock %}

{% block style %}
<style>
    body{
        background-image:url('http://s3images.coroflot.com/user_files/individual_files/original_347512_8xOm9QbSYBgR6GT5KM4x4Mqf3.png');
        background-repeat:no-repeat;
        background-size:cover;
    }
    input{
        background-color:transparent;
    }
    form{
        background-color:rgba(0,0,0,0.8);
        margin:5% 35%;
        padding:25px;
        border-radius:10px;
    }
    .control-label{
        color:white;
        font-size:15px;
    }
</style>
{% endblock %}

{% block main %} 
    <div >
        <form class="form" action='{{ url_for("login") }}' method="post" role="form" data-toggle="validator">
            <div class="text-center h4" style="color:white;">LOGIN</div>
            <div class="form-group">
                <label for="inputName" class="control-label">Email</label>
                <input type="email" class="form-control" id="inputName" placeholder="narenbakshi97@gmail.com" required name="email">
            </div>
            
          <div class="form-group">
            <label for="inputPassword" class="control-label">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" required name="password">
          </div>
          <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Login</button>
          </div>
          <a href="{{url_for('forgot')}}">Forgot Password</a>
        </form>
    </div>
{%endblock %}