{% extends "layout.html" %}

{% block title %} ABOUT US {% endblock %}

{% block style %}
<style>
    body{
        background-image:url('http://img1.liveinternet.ru/images/attach/c/1//59/337/59337026_041230043.jpg');
        background-size: cover;
        background-repeat:no-repeat;
    }
    .about{
        background-color:rgba(0,0,0,0.8);
        margin:1% 25%;
        padding:5%;
        font-size:20px;
        font-family:verdana;
        color:white;
    }
</style>
{% endblock %}

{%block main %}
<div class="about">
<h1 class="text-center">ABOUT</h1>
<p>
    
    It's a great feeling to spot a bird, but often we don't recognize or are not sure aout the name.
    Here I have tried to compile pictures of 130 types of birds with some details.
    However you may be an expert bird watcher and already know the name. In either case, do click on the map and register
    Let us see what is the prevalance of areawise special and common birds.
    I look forward to global contribution.
</p>
</div>
{% endblock %}